body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:133px;
    top:126px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:133px;
    top:150px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:133px;
    top:208px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:133px;
    top:234px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:133px;
    top:260px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../服务详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:164px;
    top:176px;
    width:24px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:23px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../服务详情_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:190px;
    top:176px;
    width:24px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:23px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../服务详情_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:216px;
    top:176px;
    width:24px;
    height:23px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:23px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../服务详情_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:241px;
    top:176px;
    width:24px;
    height:23px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:23px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../服务详情_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:265px;
    top:176px;
    width:28px;
    height:23px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:23px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:293px;
    top:180px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../服务详情_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u19 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u20_normal {
    background-image: url('../服务详情_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:117px;
    top:82px;
    width:33px;
    height:28px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:213px;
    top:86px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

