body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../民生政务_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u3 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:208px;
    top:86px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../民生政务_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:117px;
    top:82px;
    width:33px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../民生政务_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:131px;
    top:158px;
    width:218px;
    height:289px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:295px;
}

.u8 {
    position:absolute;
    left:2px;
    top:136px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../民生政务_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:131px;
    top:126px;
    width:110px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../民生政务_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:241px;
    top:126px;
    width:108px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:131px;
    top:158px;
    width:219px;
    height:290px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:290px;
    
}

.u14_normal {
    background-image: url('../民生政务_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:289px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:295px;
}

.u15 {
    position:absolute;
    left:2px;
    top:136px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:262px;
    overflow:hidden;
}

#pd2u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:262px;
    
}

.u17_normal {
    background-image: url('../民生政务_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:261px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:267px;
}

.u18 {
    position:absolute;
    left:2px;
    top:122px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:19px;
    top:18px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:19px;
    top:52px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:19px;
    top:89px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:19px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:19px;
    top:161px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:262px;
    
}

.u24_normal {
    background-image: url('../民生政务_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:260px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:266px;
}

.u25 {
    position:absolute;
    left:2px;
    top:122px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:19px;
    top:18px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:19px;
    top:52px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:19px;
    top:89px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:19px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:19px;
    top:161px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:262px;
    
}

.u31_normal {
    background-image: url('../民生政务_files/u24_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:260px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:266px;
}

.u32 {
    position:absolute;
    left:2px;
    top:122px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:19px;
    top:18px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:19px;
    top:52px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:19px;
    top:89px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:19px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:19px;
    top:161px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../民生政务_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:261px;
    width:70px;
    height:28px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:34px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../民生政务_files/u38_normal.png');
}

.u40_container {
    position:absolute;
    left:70px;
    top:261px;
    width:70px;
    height:28px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../民生政务_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:140px;
    top:261px;
    width:78px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:34px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:290px;
    
}

.u44_normal {
    background-image: url('../民生政务_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:289px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:295px;
}

.u45 {
    position:absolute;
    left:2px;
    top:136px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:11px;
    top:11px;
    width:197px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:11px;
    top:70px;
    width:197px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:11px;
    top:128px;
    width:197px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

