body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_container {
    position:absolute;
    left:128px;
    top:120px;
    width:222px;
    height:331px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:331px;
}

.u4 {
    position:absolute;
    left:2px;
    top:158px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../商户地图_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u5 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u6 {
    position:absolute;
    left:211px;
    top:86px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../商户地图_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:117px;
    top:82px;
    width:33px;
    height:28px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../商户地图_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:325px;
    top:78px;
    width:33px;
    height:35px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:259px;
    top:253px;
    width:44px;
    height:42px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

