body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:134px;
    top:137px;
    width:218px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../指南详情_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u4 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:208px;
    top:86px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../指南详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:117px;
    top:82px;
    width:33px;
    height:28px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:134px;
    top:188px;
    width:218px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

