body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../查询账单_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u3 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:208px;
    top:86px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../查询账单_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:117px;
    top:82px;
    width:33px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_container {
    position:absolute;
    left:184px;
    top:153px;
    width:112px;
    height:96px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:96px;
}

.u8 {
    position:absolute;
    left:2px;
    top:40px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:131px;
    top:127px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:168px;
    top:273px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:168px;
    top:299px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:168px;
    top:325px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:168px;
    top:351px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:190px;
    top:395px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

