body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:13px;
    width:280px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:507px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../联系物业_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:234px;
    height:3px;
}

.u3 {
    position:absolute;
    left:123px;
    top:110px;
    width:234px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:208px;
    top:86px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../联系物业_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:123px;
    top:81px;
    width:33px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:130px;
    top:267px;
    width:220px;
    height:146px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:130px;
    top:120px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:312px;
    top:84px;
    width:41px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u20 {
    position:absolute;
    left:140px;
    top:218px;
    width:201px;
    height:99px;
    overflow:hidden;
}

#pd0u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:99px;
    
}

.u21_normal {
    background-image: url('../联系物业_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:3px;
    top:5px;
    width:191px;
    height:86px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:92px;
}

.u22 {
    position:absolute;
    left:2px;
    top:35px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:8px;
    top:33px;
    width:184px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

